*{margin:0;padding:0;box-sizing: border-box}
body,h1,h2,h3,h4,h5,h6,p,pre,ul,ol,li,form,input,textarea,dd,dt,dl,div,aside {
	font-family: "苹方", "Microsoft Yahei", "黑体", "宋体", sans-serif !important;
}
a{text-decoration: none;}
img{border:none;}
li{list-style:none;}
html{font-size: 100px;}
a,input,button {
    text-decoration: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color:transparent;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
@media screen and (min-width:320px){html{font-size:42.667px;}}
@media screen and (min-width:360px){html{font-size:48px;}}
@media screen and (min-width:375PX){html{font-size:50px;}}
@media screen and (min-width:384px){html{font-size:51.2px;}}
@media screen and (min-width:400px){html{font-size:53.3px;}}
@media screen and (min-width:412px){html{font-size:54.9px;}} 
@media screen and (min-width:414px){html{font-size:55.2px;}}
@media screen and (min-width:424px){html{font-size:56.5px;}}
@media screen and (min-width:480px){html{font-size:64px;}}
@media screen and (min-width:540px){html{font-size:72px;}}
@media screen and (min-width:720px){html{font-size:96px;}}
@media screen and (min-width:750px){html{font-size:100px;}}
@media screen and (min-width:768px){html{font-size: 102.4px;}}
@media screen and (min-width:800px){html{font-size: 106.7px;}}
@media screen and (min-width:980px){html{font-size: 130.7px;}}
@media screen and (min-width:1080px){html{font-size: 144px;}}
@media screen and (min-width:1152px){html{font-size: 153.6px;}}
@media screen and (min-width:1366px){html{font-size: 182.1px;}}
@media screen and (min-width:1440px){html{font-size: 192px;}}
@media screen and (min-width:2160px){html{font-size: 288px;}}
body {font-family:'微软雅黑';overflow:hidden;}
html {background-color: #fff; }
/* 
==============================================================================
deviceadd 
==============================================================================
*/
.w {
    width: 92%;
    margin: 0 auto;
}
.device-header {
    width: 100%;
    height: 3.6rem;
    background: url(../images/house.png) no-repeat center center #497efe;
    background-size:7.7rem 4rem; 
}
.device-header a {
    margin-left: .3rem; 
}
.device-header .title {
    color: #fff;
    font-size: .38rem;
    text-align: center;
    line-height: .8rem;
}
.device-header .title .back {
    position: absolute;
    left:0;
    top:.2rem;
    width:0.4rem;
    height: 0.6rem;
    background: url(../images/icon2.png) no-repeat 0rem 0rem;
    background-size: 2rem;
}
/* ============================================== */
.device-search {
    width: 100%;
    height: 3.1rem;
    margin-top: -1rem;
}
.device-search input {
    padding-top: -2.7rem;
    width: 100%;
    height: .9rem;
    box-shadow:0px 5px 7px #DAE4FF;
    -webkit-shadow:0px 5px 7px #DAE4FF;
    font-size: .34rem;     
}
.device-search .device-button {
    display: block;
    margin-top: .7rem;
    margin-left: 1.7rem;
    font-size:.32rem;
    width:3.5rem;
    height:.75rem;
    border-radius: 0.5rem;
    font-size:.32rem;
    background: #497efe; 
    color:#fff;
    box-shadow:0px 4px 5px #B2C6F7;
    -webkit-box-shadow:0px 4px 5px #B2C6F7;
}
/* ================================================= */

.device-title {
    font-size:.32rem;
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}
.device-title .tip-menu {
    font-size: .32rem;margin-right: -4.5rem;
    width: 1rem;height: .55rem;
    color: #497efe;
    display: none;
}
.device-title .editor {
    color:#497efe;
}

/* =================================================== */

.site {
    width: 100%;
    height: 6rem;
    margin-top: .1rem;
}
.site .tip {
    width: 92%;
    height: 5rem;
    position: absolute;
    margin-top: .3rem; 
    /* display: flex;
	flex-direction: row; 
    flex-wrap: wrap;  */
}
.site .tip .tip-device {
    line-height: .6rem;
    width: 1.52rem;
    height: .6rem;
    margin: .1rem;
    background: #fff;
    text-align:center;
    box-shadow:  0 2px 9px #d3e0ff;
    -webkit-box-shadow:  0 2px 9px #d3e0ff;
    color: #787878;
    font-size: .3rem;
    float: left;
    position: relative;
    /* text-overflow: clip; */
}
.house-tip {
    display: block;
    width: 1.53rem;
    height: .6rem;
    text-align: center;
    border: 1px solid #F4F4F4;
}
.del {
    position: absolute;
    right: -10px;
    top: -8px;
    width: 20px;
    height: 20px;
    background: url('../images/close.png') no-repeat;
    background-size: 20px 20px;
    display: none;
}
/* 
==============================================================================
aboutme
==============================================================================
*/
.aboutme-top {
    width: 100%;
    height: .9rem;
    background: #fff;
    font-size: .36rem;
    text-align: center;
    line-height: .9rem;
    color: #4C4C4C;
    border-bottom: 1px solid #E7E7E7;
    position: relative;
}
.aboutme-top .title .back {
    position: absolute;
    left: .1rem;
    top: .2rem;
    width: .5rem;
    height: .65rem;
    background: url(../images/icon2.png) no-repeat -.35rem 0;
    background-size: 2.5rem; 
}
/* ============================================== */
.aboutme-cont .aboutme-logo {
    width: 2.7rem;
    height: 1.7rem;
    background: url(../images/logo.jpg) no-repeat center center;
    background-size: 2.7rem 1.7rem;
    position: absolute;left:50%;top:40%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%); 
}
.aboutme-cont .copyright {
    width: 90%;
    height: 1rem;
    margin: 0 auto;
    margin-top: 11rem;
    color: #5C5C5C;
}
.aboutme-cont .copyright div:nth-child(1) {
    width: 100%;
    height: .4rem;
    text-align: center;
    font-size: .24rem;
}
.aboutme-cont .copyright div:nth-child(2) {
    width: 100%;
    height: .4rem;
    text-align: center;
    font-size: .2rem;
}