@import url(base.css);
body {
	overflow: hidden!important;
	background: #babbbf;
}

#ohh-edition {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.ohh-edition-box {
	width: 725px;
	height: 155px;
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	padding-top: 80px;
	border-radius: .2em;
	box-shadow: 0 1px 2px 1px #9d9ea3;
}

.ohh-edition-box span {
	text-align: center;
	color: #555555;
	display: block;
}

.ohh-edition-box button {
	color: #fff;
	background: #1d1e23;
	letter-spacing: 2px;
	outline: none;
	border: 1px solid #04060a;
	margin: 45px auto;
	display: block;
	cursor: pointer;
	width: 180px;
	height: 36px;
	border-radius: .1em;
	font-size: 14px;
}